<!doctype html>
<html class="h-100" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title th:include=":: #pageTitle">Layout Generic Title</title>
        <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon.jpg}">
        <link rel="stylesheet" th:href="@{/css/theme.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
</head>
<body>
<nav th:fragment="header" id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
    <div class="container">
        <a class="navbar-brand pe-4 fs-4" href="/">
            <img src="img/icon.jpg" alt="favicon" height="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-label="Brings you to the frontpage">
                        Trang Chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/san-pham">
                        Sản phẩm
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mua-san-pham">
                        Mua hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">
                        Thông tin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">
                        Về chúng tôi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        Liên hệ
                    </a>
                </li>

            </ul>
            <a sec:authorize="isAnonymous()" href="dang-nhap" aria-label="Download this template"
               class="link-dark pb-1 link-fancy me-2"> Đăng Nhập
            </a>
            <a sec:authorize="isAuthenticated()" href="#" aria-label="Download this template"
               class="link-dark pb-1 link-fancy me-2" th:text="'Xin chào ' +  ${session.firstname} ">

            </a>

        </div>
    </div>
</nav>
<footer th:fragment="footer">
    <div class="container small border-top">
        <div class="row py-5 d-flex justify-content-between">

            <div class="col-12 col-lg-6 col-xl-3 border-end p-5">

                <img th:src="@{/img/icon.jpg}" alt="favicon" height="100px">

                <address class="text-secondary mt-3">
                    <strong>Oralcare – Chúng tôi tận tụy vì nụ cười</strong><br>
                    <br>
                    Người đại diện: Trương Tấn Lộc

                </address>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
                <h3 class="h6 mb-3">Liên hệ</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-secondary ps-0" aria-current="page" href="#">Hotline:0904943463
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary ps-0" href="#">Email:Oralcare.rhm@gmail.com
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary ps-0" href="#">Mon-Sun 9:00 – 19:00
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
                <h3 class="h6 mb-3">Mở rộng</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-secondary ps-0" aria-current="page" href="/">Trang chủ</a>
                        <a class="nav-link link-secondary ps-0" aria-current="page" href="/dang-ky">Đăng ký</a>
                        <a class="nav-link link-secondary ps-0" aria-current="page" href="/dang-nhap">Đăng nhập</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 p-5">
                <h3 class="h6 mb-3">Thống kê truy cập</h3>
                <h3 class="h6 mb-3" th:text="'Có tổng '+${count}+' truy cập'">Có tổng 247 lượt xem</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-secondary ps-0" aria-current="page">Từ 29/11/2022</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container text-center py-3 small">Made by <a href="/" class="link-fancy"
                                                             target="_blank">Oralcare - 2022</a>
    </div>
</footer>
</body>

</html>