<!doctype html>
<html class="h-100" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments :: head">
    <title id="pageTitle">Oralcare - Trang chủ</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">
<nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
    <div class="container">
        <a class="navbar-brand pe-4 fs-4" href="/">
            <img src="img/icon.jpg" alt="favicon" height="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-label="Brings you to the frontpage">
                        Trang Chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/san-pham">
                        Sản phẩm
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mua-san-pham">
                        Mua hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">
                        Thông tin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">
                        Về chúng tôi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        Liên hệ
                    </a>
                </li>

            </ul>
            <a sec:authorize="isAnonymous()" href="dang-nhap" aria-label="Download this template"
               class="link-dark pb-1 link-fancy me-2"> Đăng Nhập
            </a>
            <a sec:authorize="isAuthenticated()" href="#" aria-label="Download this template"
               class="link-dark pb-1 link-fancy me-2" th:text="'Xin chào ' +  ${session.firstname} ">

            </a>

        </div>
    </div>
</nav>

<main>
    <div class="w-100 overflow-hidden bg-gray-100" id="top">
        <div class="container position-relative">
            <div class="banner-index col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
                 style="background-image: url(img/main-banner-v1.jpg);">
            </div>

                <div class="col-lg-7 py-vh-6 col-xs-12 position-relative" data-aos="fade-right">
                    <h1 class="display-1 fw-bold mt-5 title-oralcare">Your smile<br> Your life
                    </h1>
                    <p class="lead">Xây dựng cộng đồng có ý thức cao <br>trong việc chăm sóc sức khỏe răng miệng
                        .</p>
                    <a href="#project" class="btn btn-scroll btn-xl shadow me-3 rounded-0 my-5">Kéo xuống để khám
                        phá</a>
                </div>

        </div>
    </div>

    <div class="py-vh-5 w-100 overflow-hidden" id="services">
        <div class="container">
            <div class="row d-flex justify-content-end">
                <div class="col-lg-8" data-aos="fade-down">
                    <h2 class="display-6">Okay, có ba lý do mà chúng tôi tự hào khi mang đến cho bạn! Bật mí, mọi người
                        thường
                        nói “Bất quá tam” và chúng tôi cũng nghĩ rằng ba là một số lượng hợp lý tốt của những những điều
                        tốt đẹp.
                    </h2>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <span class="h5 fw-lighter">01.</span>
                    <h3 class="py-5 border-top border-dark">Sản phẩm chúng tôi mang lại là thiết yếu và vừa vặn trong
                        những nhu
                        cầu trong việc chăm sóc nụ cười của bạn.</p>

                </div>

                <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
                    <span class="h5 fw-lighter">02.</span>
                    <h3 class="py-5 border-top border-dark">Bạn sẽ được nhắc nhở về việc thay bàn chải đánh răng và hỗ
                        trợ tư
                        vấn về các vấn đề bạn đang mắc phải về rang miệng.</h3>
                </div>

                <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
                    <span class="h5 fw-lighter">03.</span>
                    <h3 class="py-5 border-top border-dark">Đặc biệt, nếu đang mắc các vấn đề về răng miệng, chúng tôi
                        sẽ giúp
                        bạn thăm khám và chữa trị tình trạng của bạn với chi phí thấp.</h3>

                </div>
            </div>

        </div>
    </div>

    <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="project">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="row gx-5 d-flex">
                        <div class="col-md-11">
                            <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end"
                                 data-aos="fade-right"
                                 style="background-image: url(img/webp/people15.webp);--bs-aspect-ratio: 50%;">
                            </div>
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end"
                                 data-aos="fade-up"
                                 style="background-image: url(img/smile.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left"
                                 style="background-image: url(img/webp/people4.webp);--bs-aspect-ratio: 150%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="py-5 border-top border-dark" data-aos="fade-left">Giá trị dự án mong muốn.</h3>
                    <p class="value-description" data-aos="fade-left" data-aos-delay="200">Giá trị của dự án hiện diện ở
                        giá trị nhân văn, hướng
                        đến chăm
                        sóc răng miệng toàn diện cho người dân một cách đơn giản nhất.
                    </p>
                    <p>
                        <a href="#" class="link-fancy link-dark" data-aos="fade-left" data-aos-delay="400">Learn more
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="position-relative overflow-hidden w-100 bg-light" id="aboutus">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-12 col-lg-10 col-xl-8 text-center ">
                    <h2 class="display-6">VỀ CHÚNG TÔI</h2>
                    <p class="lead">Đồng sáng lập</p>
                </div>
            </div>
            <div class="row overflow-scroll">
                <div class="col-12">
                    <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">
                        <div class="col-md-2 person" data-aos="fade-up">
                            <p>Nguyễn Thị Thùy Linh<br>SV Răng Hàm Mặt<br>ĐH Y Dược Cần Thơ</p>
                            <hr>
                            <img src="img/person-1.jpg" class="rounded img-fluid" alt="nice gallery image"
                                 width="512" height="512">
                        </div>

                        <div class="col-md-2 person" data-aos="fade-up" data-aos-delay="200">
                            <p>Trương Tấn Lộc<br>SV Răng Hàm Mặt<br>ĐH Y Dược Cần Thơ</p>
                            <hr>
                            <img src="img/person-2.jpg" class="img-fluid rounded" alt="nice gallery image"
                                 width="512" height="512">
                        </div>

                        <div class="col-md-2 person" data-aos="fade-up" data-aos-delay="400">
                            <p>Phan Thiên Nga<br>SV Răng Hàm Mặt<br>ĐH Y Dược Cần Thơ</p>
                            <hr>
                            <img src="img/person-3.jpg" class="img-fluid rounded " alt="nice gallery image"
                                 width="512" height="512">
                        </div>

                        <div class="col-md-2 person" data-aos="fade-up" data-aos-delay="600">
                            <p>Trương Hoàn Mỹ<br>SV Răng Hàm Mặt<br>ĐH Y Dược Cần Thơ</p>
                            <hr>
                            <img src="img/person-4.jpg" class="img-fluid rounded " alt="nice gallery image"
                                 width="512" height="512">
                        </div>

                        <div class="col-md-2 person" data-aos="fade-up" data-aos-delay="800">
                            <p>Trần Lê Minh Khoa<br>SV Răng Hàm Mặ<br>ĐH Y Dược Cần Thơ</p>
                            <hr>
                            <img src="img/person-5.jpg" class="rounded img-fluid" alt="nice gallery image"
                                 width="512" height="512">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-light w-100 overflow-hidden" id="blog">
        <div class="container py-vh-6">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 text-center">
                    <h2 class="display-6">Thông tin
                    </h2>
                    <p class="lead">Một số bài viết của dự án</p>
                </div>
                <div class="col-12 mt-4">
                    <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">
                        <div class="col-12 col-lg-6 col-xl-3" data-aos="fade-right">
                            <div class="card p-4 mt-3 border-0">
                                <div class="card-body">
                                    <div class="text-dark py-2 fs-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor" class="bi bi-star-fill"
                                             viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path
                                                    d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                        </svg>
                                    </div>
                                    <blockquote class="blockquote">
                                        <p>"Sức khỏe răng miệng phản ánh trực tiếp hay gián tiếp sức..."</p>
                                    </blockquote>
                                    <div class="d-flex justify-content-between border-top pt-3">
                                        <div>
                                            <span class="h6 fw-5">Đánh Răng Thường Ngày Liệu Đã Đủ?</span><br>
                                            <small class="text-muted">Oralcare</small>
                                        </div>

                                    </div>
                                    <a href="/bai-viet/danh-rang-thuong-ngay-lieu-da-du" width="48" height="48"
                                       class="doc-them d-flex justify-content-end"
                                       data-aos="fade">Đọc thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 col-xl-3" data-aos="fade-right">
                            <div class="card p-4 mt-3 border-0">
                                <div class="card-body">
                                    <div class="text-dark py-2 fs-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor" class="bi bi-star-fill"
                                             viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path
                                                    d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                        </svg>
                                    </div>
                                    <blockquote class="blockquote">
                                        <p>"Sử dụng tăm chỉ nha khoa được chuyên gia răng miệng khuyên dùng để ngăn ngừa
                                            ..."</p>
                                    </blockquote>
                                    <div class="d-flex justify-content-between border-top pt-3">
                                        <div>
                                            <span class="h6 fw-5">Cách Sử Dụng Chỉ Nha Khoa Cơ Bản</span><br>
                                            <small class="text-muted">Oralcare</small>
                                        </div>

                                    </div>
                                    <a href="/bai-viet/su-dung-chi-nha-khoa" width="48" height="48"
                                       class="doc-them d-flex justify-content-end"
                                       data-aos="fade">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-3" data-aos="fade-right">
                            <div class="card p-4 mt-3 border-0">
                                <div class="card-body">
                                    <div class="text-dark py-2 fs-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor" class="bi bi-star-fill"
                                             viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path
                                                    d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                        </svg>
                                    </div>
                                    <blockquote class="blockquote">
                                        <p>"Đối với mỗi chúng ta, kem đánh răng đã trở thành vật dụng thân thuộc mỗi khi
                                            chúng ta chăm sóc răng miệng..."</p>
                                    </blockquote>
                                    <div class="d-flex justify-content-between border-top pt-3">
                                        <div>
                                            <span class="h6 fw-5">“Bí Mật” Cách Sử Dụng Kem Đánh Răng Chuẩn Nha Sĩ</span><br>
                                            <small class="text-muted">Oralcare</small>
                                        </div>

                                    </div>
                                    <a href="/bai-viet/su-dung-kem-danh-rang" width="48" height="48"
                                       class="doc-them d-flex justify-content-end"
                                       data-aos="fade">Đọc thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 col-xl-3" data-aos="fade-right">
                            <div class="card p-4 mt-3 border-0">
                                <div class="card-body">
                                    <div class="text-dark py-2 fs-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor" class="bi bi-star-fill"
                                             viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path
                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path
                                                    d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                        </svg>
                                    </div>
                                    <blockquote class="blockquote">
                                        <p>"Xã hội càng phát triển thì chúng ta càng chú trọng đến cái đẹp nhiều hơn..."</p>
                                    </blockquote>
                                    <div class="d-flex justify-content-between border-top pt-3">
                                        <div>
                                            <span class="h6 fw-5"> Bàn Chải Thường Và Bàn Chải Điện</span><br>
                                            <small class="text-muted">Oralcare</small>
                                        </div>

                                    </div>
                                    <a href="/bai-viet/so-sanh-2-loai-ban-chay" width="48" height="48"
                                       class="doc-them d-flex justify-content-end"
                                       data-aos="fade">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200" id="contact">
        <form class="form-floating" action="contact" method="post">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <h3 class="fs-2 fw-light">
                        Hãy cho chúng mình<span class="fw-bold">
                        lời nhắn nhé!</span>
                    </h3></div>
                <div class="col-12 col-lg-8 text-center mt-2">
                    <div class="row">
                        <div class="grouped-inputs border bg-light p-2">
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="floatingInput">Email address</label>
                                    <input name="email" type="email" class="form-control p-3"
                                           id="floatingInput"
                                           placeholder="name@example.com" required>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="floatingInput">Nội dung</label>
                                    <textarea class="content" name="content"
                                              style="width: 100%;resize: none;height: 133px;"
                                              placeholder="Nội dung ít nhất 20 ký tự" required
                                              minlength="20"></textarea>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <button type="submit" class="btn btn-dark py-3 px-5">Gửi ý
                                        kiến
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</main>
<footer th:replace="fragments :: footer">

</footer>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/aos.js"></script>
<script>
    AOS.init({
        duration: 800, // values from 0 to 3000, with step 50ms
    });
</script>

<script>
    let scrollpos = window.scrollY
    const header = document.querySelector(".navbar")
    const header_height = header.offsetHeight

    const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
    const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

    window.addEventListener('scroll', function() {
        scrollpos = window.scrollY;

        if (scrollpos >= header_height) { add_class_on_scroll() }
        else { remove_class_on_scroll() }

        console.log(scrollpos)
    })
</script>

</body>

</html>