<!doctype html>
<html class="h-100" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments :: head">
  <title id="pageTitle">Oralcare - Đăng ký</title>
</head>

<body class="d-flex h-100 w-100" data-bs-spy="scroll" data-bs-target="#navScroll">
  <div class="h-100 container-fluid">
    <div class="h-100 row d-flex align-items-stretch">
      <div class="col-12 col-md-7 col-lg-6 d-flex align-items-start flex-column px-vw-5">
        <header class="mb-auto py-vh-2 col-12">
          <a class="navbar-brand pe-4 fs-4" href="/">
            <img src="img/icon.jpg" alt="favicon" height="100px">
          </a>
        </header>
        <main class="mb-auto col-12">
          <h1>Đăng ký thông tin tài khoản</h1>
          <form class="row mt-5 mb-5" id="register-form" action="/dang-ky" method="post">
            <div class="col-12">
              <div class="mb-3" th:if="${(param.error != null) and (param.error[0] == 'true')}">
                <div class="text-warning" id="alert-register">* Đăng ký tài khoản không thành công</div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Họ</label>
                    <input  name="lastname" type="text" class="form-control form-control-lg"  aria-describedby="emailHelp"
                           required>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Tên </label>
                    <input name="firstname" type="text" class="form-control form-control-lg" aria-describedby="emailHelp"
                           required>
                  </div>
                </div>

              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Địa chỉ Email</label>
                <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp"
                  required>
                <div id="emailHelp" class="form-text">Đảm bảo rằng địa chỉ email của bạn là duy nhất.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                <input name="password" type="password" class="form-control form-control-lg" id="password" minlength="8" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nhập lại mật khẩu</label>
                <input type="password" class="form-control form-control-lg" id="confirm-password" minlength="8"
                  required>
                <div id="error-alert" class="form-text text-warning"></div>
                <div id="success-alert" class="form-text text-success"></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
                <input name="phone" type="text" class="form-control form-control-lg" id="exampleInputPhoneNumber" minlength="10"
                  maxlength="11" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Ngày sinh</label>
                <input name="birthday" type="date" class="form-control form-control-lg" id="exampleInputBirthday" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Tình trạng sức khỏe</label>
                <textarea name="status_health" type="text" class="form-control form-control-lg" id="exampleInputStatusHealth"
                  style="height: 200px; resize: none; font-size:18px;"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Địa chỉ</label>
                <textarea name="address" type="text" class="form-control form-control-lg" id="exampleInputAddress"
                  style="height: 140px; resize: none; font-size:18px;" required></textarea>
              </div>
              <div class="mb-3 form-check py-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Bạn đã đồng ý các</strong> chính sách người dùng của
                  dự án chúng mình.</label>
              </div>
              <button type="submit" class="btn btn-primary btn-xl" id="submit-form-register">Đăng ký</button>
            </div>
          </form>

        </main>
      </div>

      <div class="col-12 col-md-5 col-lg-6 bg-cover" style="background-image: url('./img/right-banner.jpg');"></div>

    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
    integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  <script>
    document.getElementById('exampleInputBirthday').valueAsDate = new Date()
  </script>
</body>

</html>